canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#happiness {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
}

#happiness-count {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 32px;
    font-weight: bold;
    color: pink;
}
